# Ignore customization files except those affecting appearance

/.obsidian

!/.obsidian/snippets

# !/.obsidian/app.json

# !/.obsidian/appearance.json

# Ignore personal notes
/Work\ notes

# Ignore local templates
/Templates
